<div id="estud">
    <a href="/estrela">voltar</a>
    <div class="container">
        <h1>{{estrela.nome}}</h1>
        <p>{{estrela.serie}} ยบ serie</p>
        <div class="action">
            <a href="/estrela/edit/{{estrela.id}}">Editar</a> 
            <form action="/estrela/remove/{{estrela.id}}" ></form>
            </div>
    </div>
</div>


