<h1>💢ADICIONE A LENDA DO FUTEBOL💢</h1>

<form action="/estrelas/insertestrelas" method="POST" class="form">
<div class="form-control">
    <label for="title">nome da lenda</label>
    <input type="text" name="name" id="name" placeholder="digite o nome do estudante">
</div>
<div class="form-control">
    <label for="serie">posição</label>
    <input type="text" name="serie" id="serie" placeholder="digite a serie do estudante">
</div>
<input type="submit" value="cadastrar">

<a href="/estrelas">voltar</a>

</form>